In [18]:
# import Data Manipulation Libraries
import numpy as np
import pandas as pd
# Import Data Visualization Libraries
import matplotlib.pyplot as plt
import seaborn as sns 
# Import Filter Warnings Libraries
import warnings
warnings.filterwarnings('ignore')

#Import Logging Libraries
import logging
logging.basicConfig(level=logging.INFO,
                    filemode='w',
                    filename='model.log',
                    format='%(asctime)s - %(levelname)s - %(message)s',force=True)

In [19]:
#Data Import Using Pandas Function

url= 'https://raw.githubusercontent.com/Saimehtre18/BankMarketing_ML_Model/refs/heads/main/BankTelemarketing.csv'

df =pd.read_csv(url,sep =';')

df.sample(frac = 1) #Shuffle dataset

print(df.sample(frac = 1))

       age          job  marital  education default  balance housing loan  \
10635   48      unknown  married    unknown      no     3940      no   no
41969   76      retired  married  secondary      no     4112      no   no
32291   30   unemployed   single  secondary      no        0     yes   no
43064   48       admin.  married  secondary      no      660      no   no
18435   28  blue-collar   single  secondary      no        0      no  yes
...    ...          ...      ...        ...     ...      ...     ...  ...
35201   30   technician  married  secondary      no     3875     yes   no
4668    31   unemployed  married    primary      no      -63     yes   no
12696   53  blue-collar  married    primary      no      465     yes   no
40065   29      student   single  secondary      no     1779      no   no
27214   37   management  married   tertiary      no       11      no   no

         contact  day month  duration  campaign  pdays  previous poutcome    y
10635    unknown   16   jun       298         6     -1         0  unknown   no
41969  telephone   23   oct       282         2     -1         0  unknown  yes
32291   cellular   16   apr       137         1     -1         0  unknown   no
43064   cellular   18   feb       318         1    561         2  success  yes
18435   cellular   31   jul        11        21     -1         0  unknown   no
...          ...  ...   ...       ...       ...    ...       ...      ...  ...
35201   cellular    7   may       131         1    338         2    other   no
4668     unknown   20   may       657         1     -1         0  unknown   no
12696   cellular    7   jul       111         2     -1         0  unknown   no
40065   cellular    4   jun       400         1     -1         0  unknown  yes
27214   cellular   21   nov       326         1     -1         0  unknown   no

[45211 rows x 17 columns]

In [20]:
logging.info('Dataset Uploaded Successfully ............')

In [17]:
# Checking Data Shape and Data Information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB